name: Build Flutter Web

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-web:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5"
          channel: stable

      - name: Flutter info
        run: flutter doctor -v

      - name: Get dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web --debug

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web